@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #010101;
}

::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-thumb {
  background-color: #010101;
}
::-webkit-scrollbar-track {
  background-color: #fefffe;
}

.main-sections {
  display: flex;
  flex-direction: column;
  /* gap: 15vh; */
}

.section-border {
  width: 100%;
  height: 1px;
  background-color: #ffffff35;
  align-self: center;
}

.button {
  width: fit-content;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1vw;
  border-radius: 999px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  color: #141414;
  background-color: white;
  border: none;
}

.textbox {
  display: flex;
  flex-direction: column;
  gap: 2.5vh;
  height: fit-content;
}

.experience {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  pointer-events: none !important;
  z-index: 5;
}

.cursor {
	width: 2vw;
	height: 2vw;
	border-radius: 50%;

	position: fixed;
	left: 0;
	top: 0;
	transform: translate(-50%, -50%);

	background: white;
	mix-blend-mode: difference;
	pointer-events: none;
  z-index: 100;
}

[data-hover] {
	position: relative;

	[data-hover-bounds] {
		position: absolute;
		left: 0;
		top: 0;
		inset: 0;

		/* 		outline: 1px solid red; */
	}

	&:hover {
		[data-hover-bounds] {
			transform: scale(4);
		}
	}
}

/* COLORS */

.white {
  color: white;
}

.black {
  color: #010101;
}

.blue {
  color: #5eafff;
}

.grey {
  color: #ffffff35;
}

/* TEXTS */

.headline {
  font-size: 7.5vw;
  margin: 0;
  font-weight: 600;
  line-height: 75%;
}

.subheadline {
  font-size: 3vw;
  margin: 0;
  font-weight: 500;
  line-height: 115%;
}

.small-subheadline {
  font-size: 2vw;
  margin: 0;
  font-weight: 400;
  line-height: 110%;
}

.big-description {
  font-size: 2.5vw;
  font-weight: 400;
  margin: 0;
  line-height: 100%;
}

.description {
  font-size: 1vw;
  font-weight: 400;
  margin: 0;
}

.small-description {
  font-size: 0.8vw;
  font-weight: 400;
  margin: 0;
}

/* LOADING SCREEN */

.loading-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background-color: #010101;
}

.loading-video-content {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.loading-video-bottom-fade {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #010101 100%);
}
.loading-video-left-fade {
  position: absolute;
  top: 0;
  left: 0;
  width: 5vw;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, #010101 100%);
}
.loading-video-right-fade {
  position: absolute;
  top: 0;
  right: 0;
  width: 5vw;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #010101 100%);
}

.loading-video-content-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* NAVIGATION */

/* NAVIGATION */

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vw;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transition: background-color 0.3s ease, height 0.3s ease, backdrop-filter 0.3s ease;
}

.navigation.scrolled {
  height: 8vh;
  border-bottom: 1px solid #fcfeea25;
  backdrop-filter: blur(5px);
}

.navigation-left, .navigation-right {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  pointer-events: all;
  gap: 1.5vw;
}

.navigation-left-images {
  display: flex;
  width: fit-content;
}

.navigation-right {
  justify-content: end;
  gap: 1vw;
}

.navigation-image {
  height: 2.5vh;
  width: fit-content;
  pointer-events: auto;
  cursor: pointer;
}

.navigation-button {
  width: fit-content;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1vw;
  border-radius: 999px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  color: black;
  background-color: white;
}

.navigation-button-content {
  transition: 0.5s ease;
  cursor: pointer;
  height: fit-content;
  overflow: hidden;
  position: relative;
  width: fit-content;
  text-decoration: none;
}

.navigation-button span {
  display: block;
  transition: 0.75s transform cubic-bezier(0.19, 1, 0.22, 1);
}

.navigation-button span:nth-child(2) {
  position: absolute;
}

.navigation-button:hover span:nth-child(1) {
  transform: translateY(-100%);
}

.navigation-button:hover span:nth-child(2) {
  transform: translateY(-100%);
}

.navigation-round-button {
  display: none;
}

.navigation-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1vw;
}

.navigation-menu-row {
  display: flex;
  color: white;
  gap: 0.25vw;
  align-items: center;
}

.navigation-menu-icon {
  width: 0.9vw;
  height: 0.9vw;
}

.button-content {
  transition: 0.5s ease;
  cursor: pointer;
  height: fit-content;
  overflow: hidden;
  position: relative;
  width: fit-content;
  text-decoration: none;
}

.button span {
  display: block;
  transition: 0.75s transform cubic-bezier(0.19, 1, 0.22, 1);
}

.button span:nth-child(2) {
  position: absolute;
}

.button:hover span:nth-child(1) {
  transform: translateY(-100%);
}

.button:hover span:nth-child(2) {
  transform: translateY(-100%);
}

.hover-text-white {
  position: relative;
  cursor: pointer;
}

.hover-text-white::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -0.15vh;
  left: 0;
  background-color: white;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.hover-text-white:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover-text-grey {
  position: relative;
  cursor: pointer;
}

.hover-text-grey::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -0.15vh;
  left: 0;
  background-color: #ffffff35;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.hover-text-grey:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


/* OTHER */



@media (max-width: 768px) {

/* TEXTS */

.headline {
  font-size: 17.5vw;
}

.subheadline {
  font-size: 7.5vw;
}

.headline-container-text h1 {
  font-size: 5vw;
}

.small-subheadline {
  font-size: 7.5vw;
}

.big-description {
  font-size: 4vw;
}

.description {
  font-size: 3vw;
}

.small-description {
  font-size: 3vw;
}

/* NAVIGATION */

.navigation {
  height: 20vw;
  padding: 0 5vw;
}

.navigation-left, .navigation-right {
  gap: 2vw;
}

.navigation-right {
  justify-content: end;
}

.navigation-image {
  height: 7.5vw;
}

.navigation-button {
  height: 10vw;
  padding: 0 4vw;
}

.navigation-title {
  font-size: 3vw;
}

.navigation-right-menu {
  width: 10vw;
  height: 10vw;
  padding: 3vw;
}

.navigation-right-menu-line {
  height: 2px;
}

.navigation-background {
  width: 100vw;
  height: 225vw;
}

.navigation-menu {
  width: 100vw;
  height: 225vw;
  padding: 0 5vw;
}

.navigation-menu-content {
  width: 100%;
  height: 200vw;
  padding: 30vw 0;
}

.menu-text {
  font-size: 10vw;
}

.menu-text-not-active {
  color: #bbb;
}

.menu-button:hover span:nth-child(1) {
  transform: translateY(0);
}

.menu-button:hover span:nth-child(2) {
  transform: translateY(0);
}

/* PRIVACY POLYCY */

.privacy-policy {
  padding: 30vw 5vw;
  height: fit-content;
  background-color: #fefffe;
}

.privacy-policy-content {
  display: flex;
  flex-direction: column;
  gap: 10vw;
}

.privacy-item {
  display: flex;
  flex-direction: column;
  gap: 5vw;
}

}
