/* OVERALL */

.section {
    width: 100%;
    height: 100vh;
    pointer-events: all;
    background-color: transparent;
    z-index: 2;
}

.main-experience {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 2;
}

/* 1 */

.one {
    height: 125vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 30vh;
    overflow: hidden;
    pointer-events: all;
}

.one-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    align-items: center;
    color: white;
    gap: 15vh;
}

.one-content-textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

.one-image {
    width: 100%;
    height: 70vh;
    position: absolute;
    bottom: 0;
    left: 0;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
}

.one-image-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.one-gradient-background {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30vh;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, black 100%);
    z-index: 1;
}

.one-image-trigger {
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100%;
    height: 100vh;
}

/* 2 */

.two {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    pointer-events: all;
    padding: 15vh 0;
    gap: 15vh;
}

.two-border {
    width: 85vw;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.25);
    align-self: center;
}

.two-wrapper {
    display: flex;
    position: relative;
}

.two-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 80vh;
    color: white;
    gap: 0;
    padding: 0 7.5vw;
}

.two-content-left {
    width: 35vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5vh;
}

.two-button {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1vw;
    border-radius: 999px;
    cursor: pointer;
    position: relative;
    z-index: 2;
    border: none;
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
    box-shadow: inset 0 0 0 0px #fff, inset 0 0 0 calc(1px + 0px) rgba(255, 255, 255, 0.15), 0 0 0 0 #0000;
}

.two-content-right {
    width: 52.5%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    gap: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
}

.two-content-right-content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    transform: rotate(27.5deg) translateY(-30vh) translateX(2.5vw);
}

.two-carousel {
    overflow: hidden;
    width: 33%;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.two-row {
    display: flex;
    touch-action: pan-x pinch-zoom;
    height: 150vh;
    flex-direction: column;
}

.two-item {
    flex: 0 0 50vh;
    height: 55vh;
    padding: 2vh 0;
    cursor: pointer;
    transition: background-color 0.35s ease;
}

.two-item-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.bottom-fade {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, black 100%);
    z-index: 1;
}

.top-fade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, black 100%);
    z-index: 1;
}
.left-fade {
    position: absolute;
    top: 0;
    left: 0;
    width: 10vw;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, black 100%);
    z-index: 1;
}
.right-fade {
    position: absolute;
    top: 0;
    right: 0;
    width: 10vw;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, black 100%);
    z-index: 1;
}

/* 3 */

.three {
    padding: 20vh 0;
    overflow: hidden;
    position: relative;
} 

.parallax {
    overflow: hidden;
    letter-spacing: 0;
    line-height: 1.5;
    margin: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
}
  
.parallax .scroller {
    display: flex;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
}

.scroller-div {
    width: 20vw;
    height: fit-content;
    margin-right: 2vw;
}

.scroller-image {
    width: 100%;
    height: fit-content;
    object-fit: cover;
}

.three-left-gradient {
    position: absolute;
    left: 0;
    top: 0;
    width: 10vw;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, black 100%);
    z-index: 1;
}

.three-right-gradient {
    position: absolute;
    right: 0;
    top: 0;
    width: 10vw;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, black 100%);
    z-index: 1;
}

/* 4 */

.four {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 7.5vw;
}

.four-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
}

.four-content-frame {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    border-radius: 15px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.four-video {
    width: 100%;
    height: 115%;
    object-fit: cover;
    position: absolute;
    left: 0;
}

/* 4 */

.five {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 7.5vw;
    padding-top: 20vh;
}

.five-content {
    display: flex;
    width: 100%;
    height: fit-content;
    text-align: center;
    padding-bottom: 20vh;
}

/* 6 */

.six {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 20vh 0;
  }
  
.six-content {
    width: 100%;
    height: 100%;
}
  
.six-slider {
    height: fit-content;
}

.six-slider-padding {
    height: 100%;
    width: 7.5vw;
}
  
.six-slider-item {
    width: 40vw;
    height: 50vh;
    margin-right: 2vw;
    counter-increment: gallery-cell;
    display: flex;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.075);
}

/* 7 */

.seven {
    padding: 0 7.5vw;
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    overflow: hidden;
}

.seven-content {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.seven-content-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 30vh;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.075);
}

.seven-content-item-box {
    display: flex;
    flex-direction: column;
    color: white;
}

/* 8 */

.eight {
    padding: 0vh 0vw;
    height: 275vh;
    position: relative;
    overflow: visible;
}
  
/* .eight-content-gradient {
    width: 85vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 7.5vw;
    right: 7.5vw;
    z-index: 0;
    pointer-events: none;
}
  
.eight-content-gradient::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, black 0%, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0) 90%, black 100%);
    pointer-events: none;
    z-index: 1;
} */
  
.eight-sticky {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    height: 100vh; /* h-screen */
    padding-top: 30vh;
    overflow: hidden; /* overflow-hidden */
}
  
.eight-sticky-text-contents {
    position: absolute;
    top: 15vh;
    left: 7.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5vh;
}
  
.eight-sticky-content {
    display: flex;
    gap: 2vw;
}
  
.eight-card {
    width: 40vw;
    height: 60vh;
    border-radius: 15px;
    display: flex;
    padding: 2vw;
    background-color: rgba(255, 255, 255, 0.075);
}

.eight-card-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2vw;
}

.eight-card-image {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
}

.eight-card-image-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.eight-card-invisible {
    width: 6.5vw;
}

/* 9 */

.nine {
    padding: 10vh 7.5vw;
    height: fit-content;
    position: relative;
    z-index: 3;
    pointer-events: all;
}
  
.nine-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 5vh;
}

.nine-content-questions {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 2.5vh;
  }

  .nine-arrow {
    width: 3vw;
    height: 2vw;
    color: black;
  }